/*

================================================================
FONTS
================================================================

*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "ЋД" */
.icon-down::before { content: "\2c5"; } /* "ЋЕ" */
.icon-left-big::before { content: "\2190"; } /* "вЖР" */
.icon-right-big::before { content: "\2192"; } /* "вЖТ" */
.icon-login::before { content: "\2386"; } /* "вОЖ" */
.icon-logout::before { content: "\241b"; } /* "вРЫ" */
.icon-up-dir::before { content: "\25b2"; } /* "вЦ≤" */
.icon-down-dir::before { content: "\25bc"; } /* "вЦЉ" */
.icon-circle::before { content: "\25cb"; } /* "вЧЛ" */
.icon-circle-dot::before { content: "\25cf"; } /* "вЧП" */
.icon-star::before { content: "\2605"; } /* "вШЕ" */
.icon-check-off::before { content: "\2610"; } /* "вШР" */
.icon-check-on::before { content: "\2611"; } /* "вШС" */
.icon-youtube::before { content: "\f39e"; } /* "пОЮ" */
.icon-home::before { content: "\1f3e0"; } /* "\1f3e0" */
.icon-user::before { content: "\1f468"; } /* "\1f468" */
.icon-phone::before { content: "\1f4de"; } /* "\1f4de" */
.icon-instagramm::before { content: "\1f4f7"; } /* "\1f4f7" */
.icon-search::before { content: "рЯФН"; } /* "\1f50d" */
.icon-bookmark::before { content: "\1f516"; } /* "\1f516" */

/*

================================================================
MAIN-STYLES
================================================================

*/

body {
  position: relative;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

h1 {
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  color: #ee3946;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

h4 {
  font-size: 36px;
  line-height: 43px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

h6 {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

input,
textarea {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.btn-green {
  background-color: #63a63e;
}

.btn-green:hover {
  background-color: #5fbb2d;
}

.btn-green:active {
  background-color: #518534;
  color: rgba(255,255,255,0.51);
}

.btn-red {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3946;
  color: #ffffff;
}

.btn-red:hover {
  background-color: #ca2c37;
}

.btn-red:active {
  background-color: #ba2732;
}

.btn-white {
  border: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

.btn-white:hover {
  border-color: #bdc6ca;
}

.btn-white:active {
  border-color: #ee3946;
}

.logo {
  float: left;
  width: 220px;
}

.logo a {
  position: relative;
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3946;
  color: #ffffff;
}

.logo a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.logo a:hover {
  background-color: #ca2c37;
}

.logo a:active {
  background-color: #ba2732;
}

.logo a:hover::after {
  background-color: #9a212a;
}

.logo a:active::after {
  background-color: #8e1e26;
}

.flag-new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
  width: 60px;
  height: 59px;
  background-image: url("../img/flag-new.png");
}

.flag-new-active {
  display: block;
}

/*

================================================================
HEADER
================================================================

*/

.main-header {
  background: #f2f6f8;
}

.main-header .main-header-top {
  background-color: #293449;
}

.header-logo a {
  width: 116px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 52px;
  padding-right: 52px;
  font-size: 24px;
  line-height: 30px;
}

.header-logo a::after {
  top: 42px;
}

.main-header-top .header-form-search {
  position: relative;
  float: left;
  width: 270px;
  border: none;
}

.header-form-search input,
.header-form-search label,
.main-header-top .user-transactions {
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-form-search input {
  width: 203px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 20px;
  border: none;
  background-color: #293449;
}

.header-form-search label {
  position: absolute;
  top: 12px;
  left: 48px;
  color: #ffffff;
}

.header-form-search label::before,
.user-transactions .bookmark::before,
.user-transactions .cart::before {
  position: absolute;
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.header-form-search label::before {
  content: "\1f50d";
  left: -30px;
}

.header-form-search input:hover,
.user-transactions .bookmark:hover,
.user-transactions .cart:hover {
  background-color: #212a3a;
}

.header-form-search input:hover~label::before,
.user-transactions .bookmark:hover::before,
.user-transactions .cart:hover::before {
  opacity: 1;
}

.header-form-search input:focus {
  background-color: #ffffff;
}

.header-form-search input:focus~label::before {
  opacity: 1;
  color: #ee3946;
}

.main-header-top .user-transactions {
  float: left;
  width: 450px;
}

.user-transactions a {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  color: #ffffff;
}

.user-transactions .bookmark {
  position: relative;
  width: 85px;
  padding-left: 45px;
  padding-right: 20px;
}

.user-transactions .cart {
  position: relative;
  width: 80px;
  padding-left: 50px;
  padding-right: 20px;
}

.user-transactions .cart-add {
  background-color: #ee3946;
}

.user-transactions .bookmark::before {
  content: "\1f516";
  left: 18px;
}

.user-transactions .cart::before {
  content: "\62";
  left: 18px;
}

.user-transactions .bookmark:active::before,
.user-transactions .cart:active::before {
  opacity: 0.5;
}

.user-transactions .bookmark:active,
.user-transactions .cart:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.user-transactions .cart-add:hover {
  background-color: #ca2c37;
}

.user-transactions .cart-add:active {
  background-color: #ba2732;
}

.user-transactions .btn {
  width: 130px;
  border-radius: 0;
  font-size: 17px;
  line-height: 18px;
  text-transform: none;
  color: #ffffff;
}

.main-header .main-header-middle {
  padding-top: 48px;
  padding-bottom: 38px;
}

.main-header-middle h1 {
  float: left;
  width: 200px;
  margin: 0;
  margin-right: 50px;
  padding-left: 52px;
  padding-right: 18px;
}

.main-header-middle .header-contact {
  float: left;
  width: 270px;
  margin-right: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}

.header-contact .header-contact-phone {
  display: block;
  position: relative;
  margin-bottom: 4px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 33px;
  padding-right: 10px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 25px;
  color: #e9292a;
}

.header-contact .header-contact-phone::before {
  content: "\1f4de";
  position: absolute;
  left: 15px;
  font-size: 22px;
  line-height: 25px;
  font-family: "symbols-technomart";
  color: #b7bfc8;
}

.main-header-middle .user-block {
  float: left;
  width: 300px;
  font-size: 0;
}

.user-block .login,
.user-block .check-in {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 21px;
  line-height: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #000000;
}

.user-block .login {
  position: relative;
  width: 48px;
  margin-right: 10px;
  margin-left: 19px;
  padding-left: 47px;
  padding-right: 25px;
}

.user-block .login::before {
  content: "\2386";
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 22px;
  line-height: 22px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}

.user-block .check-in {
  width: 102px;
  padding-left: 24px;
  padding-right: 24px;
}

.user-block .log-block {
  position: relative;
  margin-bottom: 5px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 21px;
  line-height: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.log-block .user-cabinet {
  margin-right: 22px;
  padding-left: 27px;
  text-decoration: none;
  color: #000000;
}

.log-block .user-cabinet::before {
  content: "\1f468";
  position: absolute;
  left: 10px;
  font-size: 18px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}

.log-block .icon-logout {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 10px;
  font-size: 22px;
  text-decoration: none;
  color: #c5c5c5;
}

.user-block .login:hover::before,
.log-block .user-cabinet:hover::before,
.log-block .icon-logout:hover {
  color: #32425c;
}

.user-block .login:active::before,
.log-block .user-cabinet:active::before,
.log-block .icon-logout:active {
  color: #c5c5c5;
}

.user-block .user-info {
  margin-left: 19px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
}

.user-info .user-orders,
.user-info .user-area {
  display: inline-block;
  vertical-align: top;
  color: #32425c;
}

.user-info .user-orders {
  position: relative;
  margin-right: 28px;
}

.user-info .user-orders::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -16px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-block .login,
.user-block .check-in,
.user-block .log-block {
  background-color: #ffffff;
}

.user-block .login:hover,
.user-block .check-in:hover,
.user-info .user-orders:hover,
.user-info .user-area:hover {
  color: #ee3946;
}

.user-block .login:active,
.user-block .check-in:active,
.user-info .user-orders:active,
.user-info .user-area:active,
.log-block .user-cabinet:active {
  color: rgba(0,0,0,0.3);
}

.main-header .header-nav {
  padding-bottom: 60px;
}

.header-nav .header-nav-list {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: inset 0 -5px 0 #293449;
  font-size: 0;
  background-color: #32425c;
}

.header-nav-list .header-nav-item {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.header-nav-item .header-nav-link {
  display: block;
  text-decoration: none;
}

.header-nav-list .header-nav-item-active,
.header-nav-item .header-nav-link {
  padding-top: 19px;
  padding-bottom: 21px;
  padding-right: 30px;
  padding-left: 30px;
  color: #ffffff;
}

.header-nav-item .header-nav-link:hover,
.header-nav-item .header-nav-link-active,
.header-nav-list .header-nav-item-active,
.header-nav-list .header-nav-item-active:hover,
.header-nav-list .header-nav-item-active:active {
  background-color: #293449;
}

.header-nav-item .header-nav-link:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

/*

================================================================
MAIN CONTENT
================================================================

*/

.main-content .breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  font-size: 0;
  line-height: 18px;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
  padding-left: 17px;
  font-size: 13px;
  text-transform: uppercase;
}

.breadcrumbs li:first-child {
  padding-left: 0;
  padding-right: 15px;
}

.breadcrumbs li::after {
  content: "\3e";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  font-family: "symbols-technomart";
  color: #c1c6ce;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs .icon-home {
  font-size: 16px;
  line-height: 18px;
  color: #c1c6ce;
}

.main-content .product-card-title {
  margin-bottom: 20px;
  padding: 27px;
  background-color: #f2f6f8;
}

.product-card-title .instrument-title {
  margin: 0;
}

.main-content .catalogue-categories {
  padding-top: 60px;
  padding-bottom: 35px;
}

.catalogue-categories .category-item {
  position: relative;
  float: left;
  width: 254px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 23px;
  padding-right: 23px;
}

.catalogue-categories .category-item:nth-child(3n),
.catalogue-categories .category-item:nth-child(5) {
  margin-right: 0;
}

.catalogue-categories .category-item-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
}

.catalogue-categories .category-item-link {
  width: 114px;
  background-color: rgba(0,0,0,0.1);
}

.catalogue-categories .category-item-link:hover {
  background-color: rgba(0,0,0,0.2);
}

.catalogue-categories .category-item-link:active {
  background-color: rgba(0,0,0,0.3);
}

.catalogue-categories .category-material {
  background-color: #f6b22d;
  background-image: url("../img/catalogue-icon-1.png");
  background-repeat: no-repeat;
  background-position: 212px 30px;
}

.catalogue-categories .category-instrument {
  background-color: #4aafde;
  background-image: url("../img/catalogue-icon-2.png");
  background-repeat: no-repeat;
  background-position: 196px 31px;
}

.catalogue-categories .category-technic {
  background-color: #cc79d1;
  background-image: url("../img/catalogue-icon-3.png");
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

.catalogue-categories .category-discount {
  background-color: #85d179;
  background-image: url("../img/catalogue-icon-4.png");
  background-repeat: no-repeat;
  background-position: 195px 25px;
}

.catalogue-categories .category-delivery {
  background-color: #f6b22d;
  background-image: url("../img/catalogue-icon-5.png");
  background-repeat: no-repeat;
  background-position: 190px 30px;
}

.catalogue-categories .slider-block {
  position: relative;
  float: left;
  width: 620px;
  height: 265px;
  margin-right: 20px;
  overflow: hidden;
}

.slider-block input {
  display: none;
}

.slider-block .slider-paginator {
  position: absolute;
  bottom: 22px;
  left: 294px;
  z-index: 100;
}

.slider-paginator label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-paginator label[for="slide1"] {
  margin-right: 5px;
}

.slider-paginator label[for="slide1"]::after,
.slider-paginator label[for="slide2"]::after {
  position: absolute;
  top: -108px;
  font-size:45px;
  line-height: 45px;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.slider-paginator label[for="slide1"]::after {
  content: "\3c";
  left: -270px;
}

.slider-paginator label[for="slide2"]::after {
  content: "\3e";
  left: 283px;
}

#slide1:checked~.slider-paginator label[for="slide1"],
#slide2:checked~.slider-paginator label[for="slide2"] {
  background-color: #ee3946;
}

.slider-block .slider-unit {
  position: relative;
  width: 570px;
  height: 226px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #82715f;
}

.slider-units .slide-punchers {
  background-image: url("../img/slider-unit1.jpg");
}

.slider-units .slide-drills {
  background-image: url("../img/slider-unit2.jpg");
}

.slider-unit .slider-unit-title {
  margin: 0;
}

.slider-unit p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-unit .btn {
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 175px;
}

#slide1:checked~.slider-units {
  transform: translateY(0);
}

#slide2:checked~.slider-units {
  transform: translateY(-266px);
}

.catalog-content .filters {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filters .filters-title {
  background-color: #f7f3ec;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #c1c6ce;
}

.filters fieldset:last-of-type {
  border-bottom: 0;
}

.filters legend {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.filters .filter-price {
  padding-bottom: 25px;
}

.filter-price .range-control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.range-control .scale {
  position: relative;
  height: 2px;
  background-color: #d7dcde;
}

.scale .bar {
  position: absolute;
  left: 10px;
  width: 140px;
  height: 2px;
  background-color: #00ca74;
}

.range-control .toggle {
  position: absolute;
  top: 30px;
  width: 5px;
  height: 5px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(0,1,1,0.14);
  background-color: #ababab;
}

.range-control .min-toggle {
  left: 20px;
}

.range-control .max-toggle {
  right: 40px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 71px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.price-controls .min-price {
  margin-right: 10px;
}

.price-controls .max-price {
  margin-left: 10px;
}

.filters .filter-brand {
  min-height: 257px;
}

.filters .filter-battery {
  min-height: 195px;
}

.filter-brand input,
.filter-battery input {
  display: none;
}

.filter-brand label,
.filter-battery label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-brand input+label::before,
.filter-battery input+label::before {
  content: "\2610";
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 28px;
  line-height: 28px;
  font-family: "symbols-technomart";
  color: #c1c1c1;
  cursor: pointer;
}

.filter-brand input:checked+label::before {
  content: "\2611";
}

.filter-battery input+label::before {
  content: "\25cb";
}

.filter-battery input:checked+label::before {
  content: "\25cf";
}

.filter-brand input+label:hover::before,
.filter-battery input+label:hover::before,
.filter-brand input:checked+label:hover::before,
.filter-battery input:checked+label:hover::before {
  color: #b5b5b5;
}

.filter-brand input:disabled+label,
.filter-battery input:disabled+label,
.filter-brand input:checked:disabled+label,
.filter-battery input:checked:disabled+label {
  opacity: 0.3;
}

.filters .btn {
  width: 140px;
  margin-top: -5px;
  color: #000000;
}

.catalog-content .catalog {
  float: right;
  width: 700px;
}

.catalog .sorting {
  margin-bottom: 21px;
  font-size: 0;
  background-color: #f7f3ec;
}

.filters .filters-title,
.sorting .sorting-title {
  width: 180px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sorting .sorting-title {
  display: inline-block;
  vertical-align: top;
}

.sorting .sort-types,
.sorting .sort-arrows {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  list-style: none;
}

.sorting .sort-types {
  padding-left: 20px;
  padding-right: 20px;
}

.sorting .sort-arrows {
  padding-left: 8px;
  padding-right: 8px;
}

.sort-types .sort-type,
.sort-types .sort-type-active {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;
}

.sort-arrows .sort-arrow,
.sort-arrows .sort-arrow-active {
  display: inline-block;
  vertical-align: top;
  font-size: 23px;
  line-height: 23px;
}

.sort-types .sort-type {
  margin-right: 70px;
}

.sort-types .sort-type:last-child {
  margin-right: 0;
}

.sort-type a,
.sort-arrow a {
  text-decoration: none;
  color: rgba(0,0,0,0.3);
}

.sort-type a {
  border-bottom: 1px dotted #ee3946;
}

.sort-type a:hover {
  border-bottom-style: solid;
}

.sort-type a:hover,
.sort-arrow a:hover {
  color: #000000;
}

.sort-types .sort-type-active,
.sort-types .sort-type-active:hover,
.sort-arrow-active span,
.sort-arrow-active span:hover {
  color: #ee3946;
}

.popular .popular-header {
  margin-bottom: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 24px;
  background-color: #f7f3ec;
}

.popular-header .popular-title {
  float: left;
  width: 460px;
  margin: 0;
}

.popular-header .btn {
  float: right;
  width: 233px;
}

.catalog-items .catalog-item {
  position: relative;
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  box-sizing: border-box; /* чтобы при изменении масштаба блоки не перескакивали на другую строку */
}

.catalog .catalog-items {
  margin-bottom: 30px;
}

.popular .catalog-item:nth-child(4n),
.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item .catalog-item-image {
  width: 218px;
  height: 168px;
  margin-bottom: 12px;
  overflow: hidden;
}

.catalog-item-image img {
  z-index: 1;
}

.catalog-item .catalog-item-title {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.catalog-item-title a {
  text-decoration: none;
  color: #000000;
}

.catalog-item .previous-price {
  min-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: line-through;
  color: #999999;
}

.catalog-item .new-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  background-color: #ee3946;
  color: #ffffff;
}

.catalog-item .new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: transparent;
}

.catalog-item .catalog-item-actions {
  position: absolute;
  top: 10px;
  left: 18px;
  z-index: 2;
  display: none;
  width: 135px;
  height: 129px;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
}

.catalog-item-actions .btn {
  border-radius: 3px;
}

.catalog-item-actions .btn-green {
  width: 115px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 -3px 0 #367315;
  color: #ffffff;
}

.catalog-item-actions .btn-green:active {
  color: #ffffff;
}

.catalog-item-actions .add-to-bookmarks {
  width: 109px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  color: #32425c;
}

.catalog-item-actions .add-to-bookmarks:hover {
  border-color: #32425c;
}

.catalog-item-actions .add-to-bookmarks:active {
  opacity: 0.3;
}

.catalog-items .catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.catalog-item:hover .catalog-item-actions {
  display: block;
}

.popular .brand-items {
  margin-bottom: 65px;
}

.brand-items .brand-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  box-sizing: border-box; /* чтобы при изменении масштаба блоки не перескакивали на другую строку */
}

.brand-items .brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-items .brand-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.brand-items .brand-item:active {
  box-shadow: 0 4px 10px rgba(41,52,73,0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.catalog .catalog-paginator {
  clear: both;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.catalog-paginator .paginator-page {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.catalog-paginator .paginator-page-active {
  width: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ee3946;
}

.paginator-page a {
  width: 16px;
  color: #000000;
}

.paginator-page .page-next {
  width: 118px;
}

.main-content .instrument-info {
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #f2f6f8;
}

.instrument-info .instrument-info-title,
.services .services-title {
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
}

.main-content .services {
  margin-bottom: 77px;
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f2f6f8;
}

.services p {
  width: 400px;
}

.services .tab-list {
  position: relative;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  list-style: none;
}

.services .tab-list::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 230px;
  width: 10px;
  height: 272px;
  opacity: 0.25;
  background-image: url("../img/tab-shadow.png");
}

.tab-item input {
  display: none;
}

.tab-item label {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow:
    0 1px 0 #405069 inset,
    0 -1px 0 #293449;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  background-color: #32425c;
  color: #ffffff;
}

.tab-item label:hover {
  background-color: #293449;
  cursor: pointer;
}

#tab-1:checked~label[for="tab-1"],
#tab-2:checked~label[for="tab-2"],
#tab-3:checked~label[for="tab-3"] {
  box-shadow: none;
  background-color: #ffffff;
  color: #32425c;
}

.tab-item .tab-content {
  position: absolute;
  top: -7px;
  left: 320px;
  display: none;
  width: 620px;
  min-height: 290px;
}

.tab-content .tab-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 43px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.tab-content .btn {
  width: 175px;
  margin-top: 15px;
}

.tab-item .tab-delivery {
  background-image: url("../img/service-icon1.png");
  background-repeat: no-repeat;
  background-position: 100% 25px;
}

.tab-item .tab-guarantee {
  background-image: url("../img/service-icon2.png");
  background-repeat: no-repeat;
  background-position: 100% 5px;
}

.tab-item .tab-credit {
  background-image: url("../img/service-icon3.png");
  background-repeat: no-repeat;
  background-position: 100% 5px;
}

.tab-list input:checked~.tab-content {
  display:block;
}

.main-content .information {
  padding-bottom: 85px;
}

.information .seo-block {
  float:left;
  width: 540px;
}

.information .seo-title {
  margin: 0;
  margin-bottom: 23px;
  color: #000000;
}

.seo-block p {
  margin-top: 23px;
  margin-bottom: 23px;
}

.seo-block .transport-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  list-style: none;
}

.transport-list li {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.transport-list li::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 9px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.seo-block .btn {
  width: 200px;
}

.information .adress {
  float: right;
  width: 300px;
}

.adress p {
  width: 185px;
  margin-bottom: 35px;
}

.adress .map {
  position: relative;
  width: 300px;
  height: 155px;
  margin-bottom: 40px;
  background-color: #dbdad4;
}

.small-map {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none; /* для альтернативного текста в случае, если картинка с картой не будет отображаться */
  color: #ffffff;
}

.big-map {
  position: absolute;
  top: -180px;
  left: -640px;
  display: none;
  box-shadow: 0 0 16px rgba(35,31,32,0.5);
}

.big-map iframe {
  vertical-align: bottom;
}

.big-map .modal-close {
  right: -37px;
}

.adress .btn {
  width: 280px;
}

/*

================================================================
FOOTER
================================================================

*/

.main-footer .main-footer-top {
  padding-bottom: 32px;
  background-color: #32425c;
}

.main-footer-top .footer-contact {
  float: left;
  width: 335px;
}

.footer-logo a {
  margin-bottom: 32px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 38px;
  padding-right: 38px;
  font-size: 30px;
  line-height: 36px;
}

.footer-logo a::after {
  top: 63px;
}

.footer-contact p {
  clear: left;
  padding-left: 5px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f1f5f7;
}

.main-footer-top .footer-nav {
  float: right;
  width: 600px;
  margin-top: 37px;
}

.footer-nav .footer-nav-main,
.footer-nav .footer-nav-categories {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.footer-nav .footer-nav-main-active {
  color: #f1f5f7;
}

.footer-nav .footer-nav-categories-active {
  color: #ffd180;
}

.footer-nav .footer-nav-main {
  width: 550px;
  margin-bottom: 35px;
}

.footer-nav .footer-nav-categories {
  width: 525px;
}

.footer-nav-main li,
.footer-nav-categories li {
  display: inline-block;
  vertical-align: top;
  margin-right: 54px;
}

.footer-nav-main li:last-child,
.footer-nav-categories li:last-child {
  margin-right: 0;
}

.footer-nav-main a,
.footer-nav-categories a {
  text-decoration: none;
}

.footer-nav-main a {
  color: #f1f5f7;
}

.footer-nav-categories a {
  color: #ffd180;
}

.footer-nav-main a:hover,
.footer-nav-categories a:hover {
  text-decoration: underline;
}

.footer-nav-main a:active,
.footer-nav-categories a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer .main-footer-bottom {
  padding-top: 37px;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #293449;
  color: #ffffff;
}

.main-footer-bottom .copy-rights,
.main-footer-bottom .feedback,
.main-footer-bottom .developer,
.main-footer-bottom .social {
  float: left;
}

.main-footer-bottom .copy-rights {
  width: 250px;
  margin-right: 45px;
}

.main-footer-bottom .social {
  float: left;
  width: 325px;
  margin-right: 20px;
  text-align: center;
  font-size: 0;
}

.social .icon {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background-color: #212a3a;
  color: #ffffff;
}

.social .icon:last-child {
  margin-right: 0;
}

.social .icon:hover {
  background-color: #ee3946;
}

.social .icon:active {
  background-color: #ee3946;
}

.main-footer-bottom .feedback {
  width: 150px;
  margin-right: 40px;
}

.main-footer-bottom .developer {
  width: 110px;
}

.feedback a,
.developer a {
  text-decoration: none;
  color: #ffd180;
}

.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:active,
.developer a:active {
  color: #ee3946;
  text-decoration: none;
}

/*

================================================================
POP-UPS
================================================================

*/

@keyframes bounce {
  0%  {
    transform: translateY(600px);
  }
    50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  z-index: 101;
}

.modal-content {
  padding-left: 80px;
  padding-right: 80px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 102;
  width: 25px;
  height: 25px;
  font-size: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 25px;
  height: 5px;
  background-color: #ee3946;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.contact-field,
.cart-field {
  left: 50%;
  margin-left: -310px;
  display: none;
  border-top: 7px solid #ee3946;
  box-shadow: 0 20px 40px rgba(0,1,1,0.75);
  background-color: #ffffff;
}

.contact-field {
  top: 50%;
  margin-top: -215px;
  padding-top: 45px;
  animation: bounce 0.8s;
}

.contact-form .contact-form-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

.contact-form .contact-form-item:first-child {
  margin-right: 18px;
}

.contact-form-item label,
.contact-form-textarea label {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.contact-form-item input[type="text"],
.contact-form-item input[type="email"],
.contact-form-textarea textarea {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.contact-form-item input {
  width: 186px;
}

.contact-form-textarea textarea {
  width: 426px;
  min-height: 94px;
  margin-bottom: 36px;
  color: #999999;
}

.contact-form-item input[type="text"]:hover,
.contact-form-item input[type="email"]:hover,
.contact-form-textarea textarea:hover {
  border-color: #bdc6ca;
}

.contact-form-item input[type="text"]:focus,
.contact-form-item input[type="email"]:focus,
.contact-form-textarea textarea:focus {
  border-color: #ee3946;
}

.contact-field .field-actions,
.cart-field .field-actions {
  padding-top: 38px;
  padding-bottom: 38px;
  text-align: center;
  background-color: #f1f1f1;
}

.contact-field input[type="submit"] {
  width: 460px;
  border: none;
}

.cart-field {
  top: 50%;
  width: 620px;
  margin-top: -140px;
  padding-top: 50px;
}

.cart-field .modal-content {
  margin: 0;
  margin-bottom: 48px;
  font-size: 30px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-content .check-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 65px;
  margin-right: 35px;
  border-radius: 50%;
  background-color: #63a63e;
}

.modal-content .check-icon::before,
.modal-content .check-icon::after {
  content: "";
  position: absolute;
  height: 8px;
  border-radius: 2px;
  background-color: #ffffff;
}

.modal-content .check-icon::before {
  top: 35px;
  left: 13px;
  width: 21px;
  transform: rotate(45deg);
}

.modal-content .check-icon::after {
  top: 30px;
  left: 20px;
  width: 36px;
  transform: rotate(-45deg);
}

.cart-field .btn-red {
  width: 200px;
  margin-right: 20px;
}

.cart-field .btn-white {
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.cart-field .btn-white:hover {
  border-color: #bdc6ca;
}

.cart-field .btn-white:active {
  border-color: #ee3946;
}

.modal-content-show {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}
